<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body id="app">
    <div class="container-fluid h-100">
        <nav class="navbar navbar-dark bg-secondary row">
                <a class="navbar-brand" href="#">Cancer Buster</a>
        </nav>
        <div class="row h-100">
            <div class="col-4" id="sidebar">
                <div class="row">
                    <ul class="list-group list-group-flush" id="patient-list">
                        
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col p-4">
                        <h2 id="patient-name"></h2>
                        <div class="row">
                            <div class="col-8">
                                <dl class="row">
                                    <dt class="col-sm-3">Gender</dt>
                                    <dd class="col-sm-9" id="patient-gender"></dd>
                                    <dt class="col-sm-3">Age</dt>
                                    <dd class="col-sm-9" id="patient-age"></dd>
                                </dl>
                            </div>
                            <div class="col-4">
                                <h4>Suggested treatment</h4>
                                <ul id="suggested-treatment">
                                    
                                </ul>
                            </div>
                        </div>
                        <h3>Analysis results <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-result-modal">Add new</button></h3>
                        <table class="table table-hover" id="patient-results">
                          <thead>
                            <tr>
                              <th class="bg-light" scope="col">#</th>
                              <th class="bg-light" scope="col">Date</th>
                              <th class="bg-light" scope="col">Description</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-result-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add test results</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="descriptionInput">Description</label>
                  <textarea class="form-control" id="description-input" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="testResultsInput">Test results</label>
                  <textarea class="form-control" id="test-results-input" rows="3"></textarea>
                </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-results-btn">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="add-patient" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add New Patient</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="descriptionInput">Name</label>
                    <textarea class="form-control" id="nameInput" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="testResultsInput">Age</label>
                    <textarea class="form-control" id="ageInput" rows="1"></textarea>
                  </div>
                  <select class="form-control" id='genderInput'>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>


                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-patient-btn">Add Patient</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
